.chat {
  width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.chat__inner {
  height: calc(100vh - 40px);
}
.chat__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
  background: #444;
}
.chat__header-title {
  font-size: 20px;
  font-weight: 600;
}
.chat__header-users {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.chat__header-btn {
  padding: 10px 20px;
  background: crimson;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* main */
.chat__main {
  background-color: #333;
  height: 600px;
  padding: 25px;
  overflow-y: auto;
}
.chat__main::-webkit-scrollbar {
  width: 15px;
}
.chat__main::-webkit-scrollbar-thumb {
  background: #222;
}

/* footer */
.chat__footer {
  padding: 0 20px;
  background: #444;
}
.chat__form {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.chat__form-input {
  width: 100%;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 16px;
  outline: none;
  background: #535353;
  border: none;
  color: #fff;
}
.chat__form-input::placeholder {
  color: #fff;
}
.chat__form-btn {
  background: #5151dd;
  border: none;
  color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
.chat__form-img {
  width: 30px;
  cursor: pointer;
}
.chat__emoji {
  position: relative;
}
.chat__emojies {
  position: absolute;
  bottom: 50px;
  right: 0;
}
